{% extends "base.html" %} {% block content %} 
<br>
<h1 style="text-align: center;">Sobre nosotros</h1>
<br>
<p style="text-align: center; margin:5%;"><strong>En Global Paper Machinery somos expertos en brindar asesoria y soluciones integrales para la industria de la pulpa & papel. Ofrecemos una mejor opción para sus proyectos, ya que contamos con experiencia en el ramo papelero, teniendo una amplia gama de maquinaria, equipos y refacciones con la mejor tecnología, calidad, precios competitivos y rápidos tiempos de entrega, siempre respaldados por los nuestros técnicos especializados.</strong></p>
{% load static %}
<div style="text-align: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15103.575441882786!2d-97.11377772341966!3d18.847386616966993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4fd582fe03abf%3A0x475717a765b936ac!2sSin%20Nombre%2C%2094300%20Ixtaczoquitl%C3%A1n%2C%20Ver.!5e0!3m2!1ses!2smx!4v1684117472611!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br>


{%endblock%}