{% extends "base.html" %} {% block content %} {% load static %}
<br />
<div style="text-align: center">
  <h2>Oficina México Orizaba, Veracruz. México.</h2>
  <p style="margin: 5%">
    <strong>
      WhatsApp: +52 272 249 3030
      <br />
      Oficina: +52 272 110 74 51

      <br />
      Email: ventas@gpapermachinery.com
      <br />
      Atendemos Todo México y Latinoamérica.
      <br />
      Estamos para atenderte en un horario de 9 am. A 5 pm. De lunes a viernes.
    </strong>
  </p>
</div>
{%endblock%}
