{% extends "base.html" %} {% block content %} {% load static %}
<div class="search-container">
  <form method="GET" action="searchProduct">
    <input type="text" name="producto" placeholder="Productos" />
    <button type="submit">Buscar</button>
  </form>
</div>

<br />
<br />
<div class="row-container">
  {%if productos %} {% for producto in productos %}
  <figure class="producto">
    <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" />
    <div class="price">$ {{producto.precio}}</div>
    <figcaption>
      <h3>{{producto.nombre}}</h3>
      <h4><strong>{{producto.marca}}</strong></h4>
      <a href="/productos/{{producto.id}}">Ver mas</a>
    </figcaption>
  </figure>
  {% endfor %} {%else%}
  <p>No hubo resultados ...</p>
  {%endif%}
</div>

{%endblock%}
